$main-color : #4198d2;
$footer-bg-color : #424242;
$footer-title-color : #878787;
$footer-text-color : #a7a7a7;
$nav-text-color : #ffffff;
$background-color : #ffffff;
$search-color : #B8B8B8;
$popup-head-bg : #2f85bf;